.doc-wrapper {
    display: grid;
    color: var(--primary-color);
    width: 75%;
    margin: 0 auto;
    padding-top: 50px;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "sidebar main";
    column-gap: 50px;
}

hr {
    border: 0.2px solid rgb(236, 236, 236);
}

.doc-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    grid-area: main;
}

h2 {
    font-size: 2.3rem;
    margin-bottom: 25px;
    font-weight: 900;
}

.content-title {
    font-size: 1.8rem;
    margin: 25px 0;
}

.component-description {
    margin-bottom: 25px;
    text-align: justify;
    line-height: 1.4;
}

.note-highlight {
    color: rgb(13, 166, 226)
}

.code-visual-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 25px 12px;
}

.text-badge-container {
    display: flex;
    font-size: 1.2rem;
    line-height: 1.8;
    flex-direction: column;
    align-items: flex-start;
}

/* alert example container */

.alert-container {
    width: 90%;
    display: flex;
    flex-direction: column;
}

/* highlightJs css */

.hljs {
    font-size: .9rem;
    border-radius: 5px;
}

.hljs-comment, .hljs-quote {
    color: white;
    font-style: italic;
}

footer, .left-nav, .right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px;
}