body {
    color: var(--primary-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 50px;
    animation: onLoadTransition 1.5s;
}

@keyframes onLoadTransition {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tag-line {
    font-size: 1.8rem;
    padding: 0 20px;
    white-space: nowrap;
    color: var(--primary-brand-color)
}

.tag-description {
    font-size: 1.4rem;
    padding-top: 30px;
    line-height: 1.6;
    white-space: nowrap;
}

.action-btns {
    display: flex;
    width: 40%;
    margin: 0 auto;
    padding-top: 50px;
    align-items: center;
    justify-content: space-between;
}

.action-btns a {
    cursor: pointer;
    border: 2px solid var(--primary-color);
    transition: 100ms transform ease-in;
    box-shadow: 3px 3px 5px 2px #ebebeb;
}

.getting-started-btn {
    padding: 10px 13px;
    font-size: 1.2rem;
    white-space: nowrap;
    border-radius: 4px;
    color: var(--primary-background-btn);
    background-color: var(--primary-color);
}

.getting-started-btn:hover {
    background-color: #4B5563;
    transform: scale(1.05);
}

.github-btn {
    padding: 10px 13px;
    font-size: 1.2rem;
    border-radius: 4px;
    background-color: var(--primary-background-btn);
}

.github-btn:hover {
    transform: scale(1.05);
}
