@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* style guide */
:root {
    --primary-color: #374151;
    --primary-brand-color: #1F2937;
    --primary-background-btn: #F9FAFB;
}

body {
    color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 40px 0px;
    font-size: 1.4rem;
    align-items: center;
    font-weight: 500;
}

section {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--primary-color)
}

.nav-links a {
    transition: 100ms border linear;
}

.nav-links a:hover {
    border-bottom: 3px solid var(--primary-brand-color);
}

.brand-logo {
    width: 48px;
    height: 48px;
    max-width: 100%;
    margin-right: 12px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 50px;
}

.tag-line {
    font-size: 1.8rem;
    padding: 0 20px;
    white-space: nowrap;
    color: var(--primary-brand-color)
}

.tag-description {
    font-size: 1.4rem;
    padding-top: 30px;
    line-height: 1.6;
    white-space: nowrap;
}

.action-btns {
    display: flex;
    width: 40%;
    margin: 0 auto;
    padding-top: 50px;
    align-items: center;
    justify-content: space-between;
}

.action-btns a {
    cursor: pointer;
    border: 2px solid var(--primary-color);
    transition: 100ms transform ease-in;
    box-shadow: 3px 3px 5px 2px #ebebeb;
}

.getting-started-btn {
    padding: 10px 13px;
    font-size: 1.2rem;
    white-space: nowrap;
    border-radius: 4px;
    color: var(--primary-background-btn);
    background-color: var(--primary-color);
}

.getting-started-btn:hover {
    background-color: #4B5563;
    transform: scale(1.05);
}

.github-btn {
    padding: 10px 13px;
    font-size: 1.2rem;
    border-radius: 4px;
    background-color: var(--primary-background-btn);
}

.github-btn:hover {
    transform: scale(1.05);
}
