@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* style guide */
:root {
    --primary-style-color: #3B82F6;
    --primary-color: #374151;
    --primary-brand-color: #1F2937;
    --primary-background-btn: #F9FAFB;
}