@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* style guide */
:root {
    --primary-style-color: #3B82F6;
    --primary-color: #374151;
    --default-light: #E5E7EB;
    --primary-brand-color: #1F2937;
    --primary-background-btn: #F9FAFB;
    --secondary-color: #D1D5DB;
    --author-desc-color: #9CA3AF;
    --card-primary-hover-color: #60A5FA;
    --success-color: #10B981;
    --error-color: #EF4444;
    --warning-color: #F59B0E;
    --primary-light: #BFDBFE;
    --success-light: #A7F3D0;
    --error-light: #FECACA;
    --warning-light: #FDE68A;
    --link-color: #6366F1;
    --link-light: #C7D2FE;
    --gray-color: gray;
    --white-color: white;
    --gold-color: gold;
    --highlight-color: rgb(220,174,150);
    --black-light: rgb(77, 77, 77);
    --grid-item-1: #FD0100;
    --grid-item-2: #F76915;
    --grid-item-3: #EEDE04;
    --grid-item-4: #A0D636;
    --grid-item-5: #2FA236;
    --grid-item-6: #878de4;
}

@import url(navbar.css);
@import url(../components/Alert/alert.css);
@import url(../components/Avatar/avatar.css);
@import url(../components/Badge/badge.css);
@import url(../components/Button/button.css);
@import url(../components/Card/card.css);
@import url(../components/Grid/grid.css);
@import url(../components/Image/image.css);
@import url(../components/Input/input.css);
@import url(../components/Lists/list.css);
@import url(../components/Modal/modal.css);
@import url(../components/Navigation/navigation.css);
@import url(../components/Rating/rating.css);
@import url(../components/Snackbar/snackbar.css);
@import url(../components/Text\ Utilities/textUtilities.css);