@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* style guide */
:root {
    --primary-style-color: #3B82F6;
    --primary-color: #374151;
    --default-light: #E5E7EB;
    --primary-brand-color: #1F2937;
    --primary-background-btn: #F9FAFB;
    --secondary-color: #D1D5DB;
    --author-desc-color: #9CA3AF;
    --card-primary-hover-color: #60A5FA;
    --success-color: #10B981;
    --error-color: #EF4444;
    --warning-color: #F59B0E;
    --primary-light: #BFDBFE;
    --success-light: #A7F3D0;
    --error-light: #FECACA;
    --warning-light: #FDE68A;
    --link-color: #6366F1;
    --link-light: #C7D2FE;
    --gray-color: gray;
    --white-color: white;
    --gold-color: gold;
}