<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onyx : Image</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon-32x32.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css" integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/component.css">
    <link rel="stylesheet" href="../Avatar/avatar.css">
    <link rel="stylesheet" href="image.css">
</head>
<body>
    <header>
        <nav>
            <section class="brand">
                <a href="/index.html"><img src="../../assets/logo.png" alt="OnyxUI" class="brand-logo"></a>
                <span class="brand-name"><a href="/index.html">Onyx UI</a></span>
            </section>
            <section class="nav-links">
                <a href="../Alert/alert.html">Documentation<span class="bottom-line"></span></a>
            </section>
        </nav>
    </header>
    <div class="doc-wrapper">
        <aside class="sidebar">
            <div class="get-started-container">
                <h3 class="get-started"><a href="#">Get Started</a></h3>
                <hr>
                <ul>
                    <li><a href="#" class="get-started-items">Introduction</a></li>
                    <li><a href="#" class="get-started-items">Colors</a></li>
                    <li><a href="#" class="get-started-items">Typography</a></li>
                    <li><a href="#" class="get-started-items">Conclusion</a></li>
                </ul>
            </div>
            <div class="components-container">
                <h3 class="components-head"><a href="#">Components</a></h3>
                <hr>
                <ul>
                    <li><a href="../Alert/alert.html" class="cmp-items">Alert</a></li>
                    <li><a href="/avatar.html" class="cmp-items">Avatar</a></li>
                    <li><a href="../Badge/badge.html" class="cmp-items">Badge</a></li>
                    <li><a href="../Button/button.html" class="cmp-items">Button</a></li>
                    <li><a href="../Card/card.html" class="cmp-items">Card</a></li>
                    <li><a href="#" class="cmp-items">Grid</a></li>
                    <li><a href="image.html" class="cmp-items active">Image</a></li>
                    <li><a href="../Input/input.html" class="cmp-items">Input</a></li>
                    <li><a href="../Lists/list.html" class="cmp-items">Lists</a></li>
                    <li><a href="#" class="cmp-items">Modal</a></li>
                    <li><a href="#" class="cmp-items">Navigation</a></li>
                    <li><a href="#" class="cmp-items">Rating</a></li>
                    <li><a href="#" class="cmp-items">Slider</a></li>
                    <li><a href="#" class="cmp-items">Snackbar</a></li>
                    <li><a href="../Text Utilities/textUtilities.html" class="cmp-items">Text Utilites</a></li>
                </ul>
            </div>
        </aside>
        <main class="doc-container">
            <div class="doc-head">
                <h2>Image</h2>
            </div>
            <p class="component-description">Images give the user visual information related to any topic. They in a way also enhance the user experience as the web pages also look good having images in them.</p>
            <hr>
            <div class="doc-body">

                <!-- Round Images -->
                
                <h4 class="content-title">Round Image</h4>
                <p class="component-description">Round images can be used by using class <strong>'round-img'</strong> to the image which you want to make round.</p>

                <div class="code-visual-container">
                    <img class="round-img" src="/assets/avatar/sparrow.jpg" alt="avatar-1">
                    <img class="round-img" src="/assets/avatar/person.jpg" alt="avatar-2">
                </div>
                <div class="code-example-container">
                    <pre>
                        <code class="language-html">
            &lt;!-- Using class 'round-img' to use the round image--&gt;

            &lt;img class="round-img" src="img-url" alt="round-img-1"&gt;
            &lt;img class="round-img" src="img-url" alt="round-img-2"&gt;
                        </code>
                    </pre>
                </div>
                <hr>

                <!-- Square Image -->

                <h4 class="content-title">Square Image</h4>
                <p class="component-description">Square images can be used by using class <strong>'square-img'</strong> to the image which you want to make square.</p>

                <div class="code-visual-container">
                    <img class="square-img" src="/assets/avatar/sparrow.jpg" alt="square-img-1">
                    <img class="square-img" src="/assets/avatar/person.jpg" alt="square-img-2">
                </div>
                <div class="code-example-container">
                    <pre>
                        <code class="language-html">
            &lt;!-- Using class 'square-img' to use the square image. --&gt;

            &lt;img class="square-img" src="img-url" alt="square-img-1"&gt;
            &lt;img class="square-img" src="img-url" alt="sqaure-img-2"&gt;
                        </code>
                    </pre>
                </div>
                <hr>

                <!-- Responsive Image -->

                <h4 class="content-title">Responsive Image</h4>
                <p class="component-description">Images can be made responsive by using class <strong>'responsive-img'</strong> to the image which you want to make responsive.</p>

                <div class="code-visual-container">
                    <img class="responsive-img" src="/assets/avatar/river.jpg" alt="responsive-img">
                </div>
                <div class="code-example-container">
                    <pre>
                        <code class="language-html">
            &lt;!-- Using class 'responsive-img' to make the image responsive. --&gt;

            &lt;img class="responsive-img" src="img-url" alt="responsive-img"&gt;
                        </code>
                    </pre>
                </div>
                <hr>
            </div>

            <footer>
                <a class="left-nav" href="../Card/card.html"><span class="material-icons">arrow_back</span>Card</a>
                <a class="right-nav" href="../Input/input.html">Input<span class="material-icons">arrow_forward</span></a>
            </footer>
        </main>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>
</html>