<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onyx : Avatar</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/navbar.css">
    <link rel="stylesheet" href="../../css/component.css">
    <link rel="stylesheet" href="../../css/avatar.css">
</head>
<body>
    <header>
        <nav>
            <section class="brand">
                <img src="" alt="" class="brand-logo">
                <span class="brand-name"><a href="../../index.html">Onyx UI</a></span>
            </section>
            <section class="nav-links">
                <a href="#">Documentation<span class="bottom-line"></span></a>
            </section>
        </nav>
    </header>
    <div class="doc-wrapper">
        <aside class="sidebar">
            <div class="get-started-container">
                <h3 class="get-started"><a href="#">Get Started</a></h3>
                <hr>
                <ul>
                    <li><a href="#">Introduction</a></li>
                    <li><a href="#">Colors</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">Conclusion</a></li>
                </ul>
            </div>
            <div class="components-container">
                <h3 class="components-head"><a href="#">Components</a></h3>
                <hr>
                <ul>
                    <li><a href="#" class="cmp-items">Alert</a></li>
                    <li><a href="#" class="cmp-itmes active">Avatar</a></li>
                    <li><a href="#" class="cmp-items">Badge</a></li>
                    <li><a href="#" class="cmp-items">Button</a></li>
                    <li><a href="#" class="cmp-items">Card</a></li>
                    <li><a href="#" class="cmp-items">Image</a></li>
                    <li><a href="#" class="cmp-items">Input</a></li>
                </ul>
            </div>
        </aside>
        <main class="doc-container">
            <div class="doc-head">
                <h2>Avatar</h2>
            </div>
            <p class="component-description">Avatars are graphical representation of the user's profile picture usually rounded in shape. It can contain visual identity of users, projects, spaces, etc.</p>
            <hr>
            <div class="doc-body">
                <h4 class="content-title">Basic Avatar</h4>
                <p class="component-description">These basic avatars can be created by adding the class 'avatar' to the img tag for which you want to make a avatar.</p>

                <div class="code-visual-container">
                    <img class="bs-avatar" src="../../assets/avatar/blue flower.jpg" alt="avatar-1">
                </div>
            </div>
        </main>
    </div>
</body>
</html>