<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onyx : Alert</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon-32x32.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css" integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/component.css">
    <link rel="stylesheet" href="alert.css">
</head>
<body>
    <header>
        <nav>
            <section class="brand">
                <a href="/index.html"><img src="../../assets/logo.png" alt="OnyxUI" class="brand-logo"></a>
                <span class="brand-name"><a href="/index.html">Onyx UI</a></span>
            </section>
            <section class="nav-links">
                <a href="alert.html">Documentation<span class="bottom-line"></span></a>
            </section>
        </nav>
    </header>
    <div class="doc-wrapper">
        <aside class="sidebar">
            <div class="get-started-container">
                <h3 class="get-started"><a href="#">Get Started</a></h3>
                <hr>
                <ul>
                    <li><a href="#" class="get-started-items">Introduction</a></li>
                    <li><a href="#" class="get-started-items">Colors</a></li>
                    <li><a href="#" class="get-started-items">Typography</a></li>
                    <li><a href="#" class="get-started-items">Conclusion</a></li>
                </ul>
            </div>
            <div class="components-container">
                <h3 class="components-head"><a href="../Alert/alert.html">Components</a></h3>
                <hr>
                <ul>
                    <li><a href="alert.html" class="cmp-items active">Alert</a></li>
                    <li><a href="../Avatar/avatar.html" class="cmp-items">Avatar</a></li>
                    <li><a href="../Badge/badge.html" class="cmp-items">Badge</a></li>
                    <li><a href="../Button/button.html" class="cmp-items">Button</a></li>
                    <li><a href="../Card/card.html" class="cmp-items">Card</a></li>
                    <li><a href="../Grid/grid.html" class="cmp-items">Grid</a></li>
                    <li><a href="../Image/image.html" class="cmp-items">Image</a></li>
                    <li><a href="../Input/input.html" class="cmp-items">Input</a></li>
                    <li><a href="../Lists/list.html" class="cmp-items">Lists</a></li>
                    <li><a href="../Modal/modal.html" class="cmp-items">Modal</a></li>
                    <li><a href="../Navigation/navigation.html" class="cmp-items">Navigation</a></li>
                    <li><a href="../Rating/rating.html" class="cmp-items">Rating</a></li>
                    <li><a href="#" class="cmp-items">Slider</a></li>
                    <li><a href="../Snackbar/snackbar.html" class="cmp-items">Snackbar</a></li>
                    <li><a href="../Text Utilities/textUtilities.html" class="cmp-items">Text Utilites</a></li>
                </ul>
            </div>
        </aside>
        <main class="doc-container">
            <div class="doc-head">
                <h2>Alert</h2>
            </div>
            <p class="component-description">Alert is used to redirect user's attention to an important message without disturbing the normal flow of the webpage and user.</p>
            <hr>
            <div class="doc-body">

                <!-- Simple Alerts -->
                
                <h4 class="content-title">Simple Alert</h4>
                <p class="component-description">Simple alerts can be used my adding class <strong>'alert'</strong> followed by the variant name.</p>

                <div class="code-visual-container">
                    <div class="alert-container">
                        <div class="alert primary">
                            This is a Primary Alert!
                            <button class="alert-action-btn">
                                <i class="simple material-icons">close</i>
                            </button>
                        </div>
                        <div class="alert success">
                            This is a Success Alert!
                            <button class="alert-action-btn">
                                <i class="simple material-icons">close</i>
                            </button>
                        </div>
                        <div class="alert error">
                            This is a Error Alert!
                            <button class="alert-action-btn">
                                <i class="simple material-icons">close</i>
                            </button>
                        </div>
                        <div class="alert warning">
                            This is a Warning Alert!
                            <button class="alert-action-btn">
                                <i class="simple material-icons">close</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="code-example-container">
                    <pre>
                        <code class="language-html">
            &lt;!-- Using class 'alert' followed by variant name to use the Alert component--&gt;

             
            &lt;div class="alert primary"&gt;
            This is a Primary Alert!
                &lt;button class="alert-action-btn"&gt;
                    &lt;i class="simple material-icons"&gt;close &lt;/i&gt;
                &lt;/button&gt;
            &lt;/div&gt;

            &lt;div class="alert success"&gt;
            This is a Success Alert!
                &lt;button class="alert-action-btn"&gt;
                    &lt;i class="simple material-icons"&gt;close &lt;/i&gt;
                &lt;/button&gt;
            &lt;/div&gt;

            &lt;div class="alert error"&gt;
            This is a Error Alert!
                &lt;button class="alert-action-btn"&gt;
                    &lt;i class="simple material-icons"&gt;close &lt;/i&gt;
                &lt;/button&gt;
            &lt;/div&gt;

            &lt;div class="alert warning"&gt;
            This is a Warning Alert!
                &lt;button class="alert-action-btn"&gt;
                    &lt;i class="simple material-icons"&gt;close &lt;/i&gt;
                &lt;/button&gt;
            &lt;/div&gt;
                        </code>
                    </pre>
                </div>
                <hr>

                <!-- Light Simple Alerts -->

                <h4 class="content-title">Light Simple Alert</h4>
                <p class="component-description">This is the light colored version of the Simple alerts. Add class <strong>'light'</strong> class after alert class and variant class name.</p>

                <div class="code-visual-container">
                    <div class="alert-container">
                        <div class="alert primary light">
                            This is a Primary Alert!
                            <button class="alert-action-btn">
                                <i class="light material-icons">close</i>
                            </button>
                        </div>
                        <div class="alert success light">
                            This is a Success Alert!
                            <button class="alert-action-btn">
                                <i class="light material-icons">close</i>
                            </button>
                        </div>
                        <div class="alert error light">
                            This is a Error Alert!
                            <button class="alert-action-btn">
                                <i class="light material-icons">close</i>
                            </button>
                        </div>
                        <div class="alert warning light">
                            This is a Warning Alert!
                            <button class="alert-action-btn">
                                <i class="light material-icons">close</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="code-example-container">
                    <pre>
                        <code class="language-html">
            &lt;!-- Using class 'light' after alert class and variant name class.--&gt;

            &lt;div class="alert primary light"&gt;
                This is a Primary Alert!
                &lt;button class="alert-action-btn"&gt;
                    &lt;i class="light material-icons"&gt;close&lt;/i&gt;
                &lt;/button&gt;
            &lt;/div&gt;

            &lt;div class="alert success light"&gt;
                This is a Success Alert!
                &lt;button class="alert-action-btn"&gt;
                    &lt;i class="light material-icons"&gt;close&lt;/i&gt;
                &lt;/button&gt;
            &lt;/div&gt;

            &lt;div class="alert error light"&gt;
                This is a Error Alert!
                &lt;button class="alert-action-btn"&gt;
                    &lt;i class="light material-icons"&gt;close&lt;/i&gt;
                &lt;/button&gt;
            &lt;/div&gt;

            &lt;div class="alert warning light"&gt;
                This is a Warning Alert!
                &lt;button class="alert-action-btn"&gt;
                    &lt;i class="light material-icons"&gt;close&lt;/i&gt;
                &lt;/button&gt;
            &lt;/div&gt;
                        </code>
                    </pre>
                </div>
                <hr>

                <!-- Outlined Alerts -->

                <h4 class="content-title">Outline Alert</h4>
                <p class="component-description">Outline alert can be used by adding class <strong>'outline'</strong> after the alert class and variant class name.</p>

                <div class="code-visual-container">
                    <div class="alert-container">
                        <div class="alert primary outline">
                            This is a Primary Alert!
                            <button class="alert-action-btn">
                                <i class="material-icons">close</i>
                            </button>
                        </div>
                        <div class="alert success outline">
                            This is a Success Alert!
                            <button class="alert-action-btn">
                                <i class="material-icons">close</i>
                            </button>
                        </div>
                        <div class="alert error outline">
                            This is a Error Alert!
                            <button class="alert-action-btn">
                                <i class="material-icons">close</i>
                            </button>
                        </div>
                        <div class="alert warning outline">
                            This is a Warning Alert!
                            <button class="alert-action-btn">
                                <i class="material-icons">close</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="code-example-container">
                    <pre>
                        <code class="language-html">
            &lt;!-- Using class 'outline' after alert class and variant name class.--&gt;

            &lt;div class="alert primary outline"&gt;
                This is a Primary Alert!
                &lt;button class="alert-action-btn"&gt;
                    &lt;i class="material-icons"&gt;close&lt;/i&gt;
                &lt;/button&gt;
            &lt;/div&gt;

            &lt;div class="alert success outline"&gt;
                This is a Success Alert!
                &lt;button class="alert-action-btn"&gt;
                    &lt;i class="material-icons"&gt;close&lt;/i&gt;
                &lt;/button&gt;
            &lt;/div&gt;

            &lt;div class="alert error outline"&gt;
                This is a Error Alert!
                &lt;button class="alert-action-btn"&gt;
                    &lt;i class="material-icons"&gt;close&lt;/i&gt;
                &lt;/button&gt;
            &lt;/div&gt;

            &lt;div class="alert warning outline"&gt;
                This is a Warning Alert!
                &lt;button class="alert-action-btn"&gt;
                    &lt;i class="material-icons"&gt;close&lt;/i&gt;
                &lt;/button&gt;
            &lt;/div&gt;
                        </code>
                    </pre>
                </div>
                <hr>
            </div>

            <footer>
                <a class="left-nav" href="#"><span class="material-icons">arrow_back</span>Conclusion</a>
                <a class="right-nav" href="../Avatar/avatar.html">Avatar<span class="material-icons">arrow_forward</span></a>
            </footer>
        </main>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>
</html>